@media (min-width: 1024px) {
    .discover {
        height: 42rem;
        background-image: url("../../../public/images/cta-bg.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .discover>h1 {
        color: white;
        font-size: 5rem;
        margin: 0px;
        padding: 0px;
    }
    .discover>button {
        background-color: $bouton;
        border-radius: 10px;
        border: none;
        padding: 1rem;
    }
    .discover>button>a {
        text-decoration: none;
        color: white;
    }
}

@media (min-width: 700px) and (max-width: 1023px) {
    .discover {
        height: 42rem;
        background-image: url("../../../public/images/cta-bg.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .discover>h1 {
        color: white;
        font-size: 3rem;
        margin: 0px;
        padding: 0px;
    }
    .discover>button {
        background-color: $bouton;
        border-radius: 10px;
        border: none;
        padding: 1rem;
    }
    .discover>button>a {
        text-decoration: none;
        color: white;
    }
}

@media (max-width: 699px) {
    .discover {
        height: 42rem;
        background-image: url("../../../public/images/cta-bg.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .discover>h1 {
        color: white;
        font-size: 2rem;
        margin: 0px;
        padding: 0px;
    }
    .discover>button {
        background-color: $bouton;
        border-radius: 10px;
        border: none;
        padding: 1rem;
    }
    .discover>button>a {
        text-decoration: none;
        color: white;
    }
}