#caroussel {
    width: 100%;
    margin-top: 2%;
    overflow: hidden;
}
#caroussel_titre{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}

.allImage{
    width: 95%;
    margin: 10px auto;
    display: flex;
    justify-content: left;
    overflow: visible;
}

.allImage::-webkit-scrollbar{
    visibility: hidden;
}

#div-boule{
    height: 50px;
    text-align: center;
    .boule{
        border-radius: 50%;
        height: 20px;
        width: 20px;
        margin: 2%;
        cursor: pointer;
    }

}

.allImage{

    .div-image{
        min-width: 260px;
        // height: 220px;
        // position: relative;
        left:0;
        text-align: center;
        font-size: 100px;
        font-weight: bold;
        margin: 10px 20px;
        color: white;
        transition: 0.5s;
    }
}



.imgCarousel{
    width: 260px;
}
.txtCarousel{
    width: 260px;
    font-size: 15px;
    color:black;
    margin-top: 10px;
}
.txtCarousel2{
    width: 260px;
    font-size: 15px;
    color: rgba(223,67,64,255);
    margin-top: 10px;
}
.spanCarousel{
    color: gray;
    text-decoration: line-through;
}

.boule1 {
    transform: translate(0px);
    transition: transform 2s ease-in-out;
}
.boule2 {
    transform: translate(-320px);
    transition: transform 2s ease-in-out;
}
.boule3 {
    transform: translate(-640px);
    transition: transform 2s ease-in-out;
}
.boule4 {
    transform: translate(-960px);
    transition: transform 2s ease-in-out;
}

