 .formulaire {
     display: none;
    color: white;
    .inscription {
        width: 50%;
        border: 1px solid black;
        border-radius: 10px;
        background-color: $connexion;
        .contact_title {
            display: flex;
            justify-content: flex-end;
            margin-right: 5%;
            padding-bottom: 0;
            .close {
                color: #aaa;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .contact_logo{
            position: absolute;
            margin: 1rem;
        }
        .contact_bouton {
            display : flex;
            justify-content: center;
            button {
                margin: 1rem;
                padding: 0.5rem;
                background-color: $bouton;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .formulaire1 {
            display: none;
            .contact_contact {
                display: flex;
                flex-direction: column;
                .contact_package {
                    padding: 1rem;
                }
                .contact_package>p {
                    margin: 0%;
                    
                }
                .contact_package>input {
                    border: none;
                    border-radius: 10px;
                }
                .contact_package>small {
                    color: lightgray;
                }
            }
        }
        .formulaire2 {
            display: none;
            .contact_contact {
                display: flex;
                flex-direction: column;
                .contact_package {
                    padding: 1rem;
                }
                .contact_package>p {
                    margin: 0%;
                    
                }
                .contact_package>input {
                    border: none;
                    border-radius: 10px;
                }
                .contact_package>small {
                    color: lightgray;
                }
            }
        }
        .contact_check {
            .checkbox {
                display: flex;
                align-items: center;
                p {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .contact_bouton {
        #bleu {
            background-color: $bouton;
            color: white;
            }
        }
    }
}

// class formulaire

.visible {
    position: fixed;
    top: 50px;
    z-index: 5;
    background-color: white;
}

.flou {
    opacity: 0.5;
}